.skills {
  border-radius: 10px;
  background: linear-gradient(93deg, #252525 0%, #272727 100%);
  box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.5);
  padding: 15px 25px;

  &__text {
    margin-bottom: 15px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-bottom: 20px;
  }
  &__item {
    border-radius: 10px;
    background: #b6b125;
    margin: 0 10px;
    padding: 7px 20px;
  }
}
